<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberSQL">
	<!-- 중복체크  -->
	<select id="isExistId" parameterType="String" resultType="member">
		select * from marymond_member where id=#{id}
	</select>
	<!-- 회원가입 -->
	<insert id="insert" parameterType="member">
		insert into marymond_member
		values(#{name},#{id},#{pwd},#{email1},#{email2},#{birthYear},#{birthMonth},#{birthDay},sysdate)
	</insert>
	<!-- 로그인 -->
	<select id="login" parameterType="java.util.Map"
		resultType="member">
		select * from marymond_member where id=#{id} and pwd=#{pwd}
	</select>
	<!-- 회원정보 mypage -->
	<select id="getMemberInfo" parameterType="String" resultType="member">
		select * from marymond_member where id=#{id}
	</select>
	<!-- qna -->
	<select id="getFaq" resultType="faq">
		select * from marymond_faq 
	</select>
</mapper>